<!-- core/templates/core/header.html -->
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'players' %}">Players</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li>
                <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
                </li>

            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>

            {% endif %}
        </ul>
    </nav>
</header>
